.a {
    border-top: 10px solid red;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-bottom: 10px solid red;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    width: 0;
    padding: 50px;
}
.b {
    border: 10px solid red;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    width: 0;
    padding: 50px;
}
.c {
    border-left: 10px solid red;
    border-bottom: 10px solid red;
    border-radius: 100px;
    width: 0;
    padding: 50px;
}