.block1 { 
    width: 500px; 
    background: #ccc;
    padding: 2px;
     
    border: solid 1px grey; 
    float: left;
   }
   
   .block2 { 
    width: 70px; 
    background: #ccc;
    border: solid 1px grey; 
    float: left;
   }