@mainColor: #66CDAA;
body {
    color: @mainColor;
    background-color: @mainColor - #111111;
}

.roundBorder(@br, @bw, @bs, @bc) {
    border: @bw @bs @bc;
    border-radius: @br;
}

button {
    .roundBorder(15px, 7px, dashed, saturate(blue, 30%));
}