.fon {
    margin: auto;
    margin-top: 50px;
    width: 600px;
    height: 400px;
    padding: 20px 30px;
}

.block1 {
    outline: solid 1px #E0E0E0;
    width: 550px;
    background-color: #F6F5F3;
    padding: 5px 0px;
}

.block2 {
    width: 70px;
    background: #F6F5F3;
    outline: solid 1px #E0E0E0;
}

.block3 {
    width: 550px;
    height: 40px;
    background-color: #F6F5F3;
    outline: solid 1px #E0E0E0;
    overflow-x: scroll;
    overflow-y: hidden;
}