.chessTable {
    margin: auto;
    width: 100vmin;
    height: 100vmin;
}

.chessTable>div {
    display: inline-block;
    outline: 1px solid black;
    width: 11%;
    height: 11%;
}

div:nth-child(n):nth-child(-n+9):nth-child(even),
div:nth-child(n+9):nth-child(-n+16):nth-child(odd),
div:nth-child(n+17):nth-child(-n+24):nth-child(even),
div:nth-child(n+25):nth-child(-n+32):nth-child(odd),
div:nth-child(n+33):nth-child(-n+40):nth-child(even),
div:nth-child(n+41):nth-child(-n+48):nth-child(odd),
div:nth-child(n+49):nth-child(-n+56):nth-child(even),
div:nth-child(n+57):nth-child(-n+64):nth-child(odd) {
    background-color: darkslategrey;
}

.chessTable>div:nth-of-type(n):not(:nth-of-type(n+2)) {
    background-image: url(https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png);
    background-position: -77% 0;
    background-size: 75vmin auto;
}

.chessTable>div:nth-of-type(n+2):not(:nth-of-type(n+3)) {
    background-image: url(https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png);
    background-position: -35% 0;
    background-size: 75vmin auto;
}

.chessTable>div:nth-of-type(n+3):not(:nth-of-type(n+4)) {
    background-image: url(https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png);
    background-position: -56% 0;
    background-size: 75vmin auto;
}

.chessTable>div:nth-of-type(n+4):not(:nth-of-type(n+5)) {
    background-image: url(https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png);
    background-position: -100% 0;
    background-size: 69vmin auto;
}

.chessTable>div:nth-of-type(n+5):not(:nth-of-type(n+6)) {
    background-image: url(https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png);
    background-position: 0 0;
    background-size: 69vmin auto;
}

.chessTable>div:nth-of-type(n+6):not(:nth-of-type(n+7)) {
    background-image: url(https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png);
    background-position: 61% 0;
    background-size: 75vmin auto;
}

.chessTable>div:nth-of-type(n+7):not(:nth-of-type(n+8)) {
    background-image: url(https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png);
    background-position: -35% 0;
    background-size: 75vmin auto;
}

.chessTable>div:nth-of-type(n+8):not(:nth-of-type(n+9)) {
    background-image: url(https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png);
    background-position: -77% 0;
    background-size: 75vmin auto;
}

.chessTable>div:nth-of-type(n+9):not(:nth-of-type(n+17)) {
    background-image: url(https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png);
    background-position: -18% 0;
    background-size: 75vmin auto;
}


div:nth-of-type(1):not(.chessTable)::after {
    content: "A";
}

div:nth-of-type(2):after {
    content: "B";
}

div:nth-of-type(3):after {
    content: "C";
}

div:nth-of-type(4):after {
    content: "D";
}

div:nth-of-type(5):after {
    content: "E";
}

div:nth-of-type(6):after {
    content: "F";
}

div:nth-of-type(7):after {
    content: "G";
}

div:nth-of-type(8):after {
    content: "H";
}

div:nth-of-type(n):after {
    display: block;
    margin-top: -40%;
    margin-left: 40%;
}