.grey {
    background-color: #AB5732;
    width: 10.5vh;
    height: 10.5vh;
}

.beige {
    background-color: #F2DCB7;
    width: 10.5vh;
    height: 10.5vh;
}

.burgundy {
    background-color: #8C2D2B;
}

table {
    margin: auto;
    font-weight: 900;
    text-align: center;
    border-collapse: collapse;
}


.pawn_white,
.pawn_black,
.castle_white,
.castle_black,
.knight_white,
.knight_black,
.bishop_white,
.bishop_black,
.queen_white,
.queen_black,
.king_white,
.king_black {
    background: url("https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png") no-repeat;
    background-size: 45vh;
    width: 7vh;
    height: 7vh;
    margin: auto;
}

.pawn_white {
    background-position: -39.3vh -7.5vh;
}

.pawn_black {
    background-position: -39.2vh 0vh;
}

.castle_white {
    background-position: -15.4vh -7.5vh;
}

.castle_black {
    background-position: -15.4vh 0vh;
}

.knight_white {
    background-position: -31.3vh -7.5vh;
}

.knight_black {
    background-position: -31.3vh 0vh;
}

.bishop_white {
    background-position: -23.3vh -7.5vh;
}

.bishop_black {
    background-position: -23.3vh 0vh;
}

.queen_white {
    background-position: 0.5vh -7.5vh;
}

.queen_black {
    background-position: 0.5vh 0vh;
}

.king_white {
    background-position: -7.4vh -7.5vh;
}

.king_black {
    background-position: -7.4vh 0vh;
}

.turn {
    transform: rotate(180deg);
}